<%= form_for @plan  do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "序号" %><br>
    <%= f.text_field :wbsno %>
  </div>
  <div class="field">
    <%= f.label '工程名城' %><br>
    <%= f.text_field :wbsname %>
  </div>
  <div class="field">
    <%= f.label '计划工作量' %><br>
    <%= f.number_field :quantitiesplan %>
  </div>
  <div class="field">
    <%= f.label '完成工程量' %><br>
    <%= f.number_field :quantitiesfact %>
  </div>
  <div class="field">
    <%= f.label "完成百分比" %><br>
    <%= f.number_field :wbspctcomp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
